<!-- <style>  
  #leftbox { 
      float:left;  
       
      
  } 
  #rightbox{ 
      float:right; 
      
      
  } 
</style> -->
<div class="hero is-primary is-bold is-fullheight">
  <app-navbar></app-navbar>
  <div style="text-align:center">  
    <h1>
      Welcome to {{ title }}
    </h1>
    <!-- <p>Account Balance</p>
    <p>${{tdResponse?.securitiesAccount.initialBalances.accountValue}}</p> -->
  </div>
  <div class="table">
    <div class="fundHeaderTabs">
      <ul id="horizontal-list">
        <li class="navAmount">
          <span class="header-nav-label-navAmount">
            NAV as of Apr 13, 2020
          </span>
          <span class="header-nav-data">
            $4.68
          </span>
          <span class="fiftyTwoWeekData">
            52 WK: 4.75 - 5.86
          </span>
        </li>
        <li class="navAmountChange">
          <span class="header-nav-label-navAmountChange">
            1 Day NAV Change as of Apr 13, 2020
          </span>
          <span class="header-nav-data">
            $0.75
            (2.68%)
          </span>
        </li>
        <li class="yearToDateCalc">
          <span class="header-nav-label-yearToDateCalc">
            NAV Total Return as of Apr 13, 2020
          </span>
          <span class="ytd-data">YTD: </span>
          <span class="header-nav-data">
            +45.86%
          </span>
        </li>
      </ul>
    </div>
  </div>
  <app-table></app-table>
  <div>
    .
  </div>
  <div>
    .
  </div>
  <div>
    .
  </div>
  <div>
    .
  </div>
</div>

<div class="leftbox">
  <app-trading></app-trading>
</div>
<div class="rightbox">
  <app-investing></app-investing>
</div>
  


<!-- <h3>Here are some links to help you start: </h3>
  <ul>
    <li>
      <h4><a target="_blank" rel="noopener" href="https://www.fidelity.com/">Fidelity Investments</a></h4>
    </li>
    <li>
      <h4><a target="_blank" rel="noopener" href="https://www.cnbc.com/">CNBC</a></h4>
    </li>
    <li>
      <h4><a target="_blank" rel="noopener" href="https://www.bloomberg.com/">Bloomberg</a></h4>
    </li>
    <li>
      <h4><a target="_blank" rel="noopener" href="https://finance.yahoo.com/">Yahoo Finance</a></h4>
    </li>
  </ul> -->

  


