<app-navbar></app-navbar>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  <img width="300" alt="Angular Logo" src="https://images-na.ssl-images-amazon.com/images/I/61VmYAGCGFL._SX425_.jpg">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.fidelity.com/">Fidelity Investments</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.cnbc.com/">CNBC</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.bloomberg.com/">Bloomberg</a></h2>
  </li>
</ul>

