body, html {
  height: 100%;
}

.hero {
  background-image: url('/assets/img/trading.jpg');
  height: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: white;
}
p {
  color: white;
}
.leftbox { 
  float:left;
  // border: 1px solid black;
  width: 49%;
} 
.rightbox{ 
  float:right; 
  // border: 1px solid black;
  width: 49%;
}
.header-nav-label-navAmount {
  color: white;
  font-size: small
}
.header-nav-data {
  color: white;
  font-size: x-large;
}
.fiftyTwoWeekData {
  color: white;
  font-size: small
}
// .fundHeaderTabs {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
.header-nav-label-navAmountChange {
  color: white;
  font-size: small
}
.header-nav-label-yearToDateCalc {
  color: white;
  font-size: small
}
.ytd-data {
  color: white;
  font-size: x-large;
}
ul#horizontal-list {
  list-style-type: none;
  }
  ul#horizontal-list li {
    display: inline;
  }
.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

