/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }

body { 
    background-color: rgb(233, 230, 230); 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
// .hero {
//     background-image: url('/assets/img/ny.jpg');
//     height: 50%;
//     background-position: center center;
//     background-repeat: no-repeat;
//     background-size: cover;
//   }


